@import "tailwindcss";

@import "./theme.css";
@import "./typography.css";
@import "./utilities.css";
@import "./animations.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

a {
  transition: 0.3s ease;
}

::selection {
  background: var(--primary);
  color: white;
}
